/* Orqa fon */
.container {
  position: absolute;
  inset: -1em;
  --c: 7px;
  background-color: #000;
  background-image: radial-gradient(
      circle at 50% 50%,
      #0000 1.5px,
      #000 0 var(--c),
      #0000 var(--c)
    ),
    radial-gradient(
      circle at 50% 50%,
      #0000 1.5px,
      #000 0 var(--c),
      #0000 var(--c)
    ),
    radial-gradient(circle at 50% 50%, #f00, #f000 60%),
    radial-gradient(circle at 50% 50%, #ff0, #ff00 60%),
    radial-gradient(circle at 50% 50%, #0f0, #0f00 60%),
    radial-gradient(ellipse at 50% 50%, #00f, #00f0 60%);
  background-size: 12px 20.7846097px, 12px 20.7846097px, 200% 200%, 200% 200%,
    200% 200%, 200% 20.7846097px;
  --p: 0px 0px, 6px 10.39230485px;
  background-position: var(--p), 0% 0%, 0% 0%, 0% 0px;
  animation: wee 40s linear infinite, filt 6s linear infinite;
  z-index: -1;
}

/* Animatsiya */
@keyframes filt {
  0% {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes wee {
  0% {
    background-position: var(--p), 800% 400%, 1000% -400%, -1200% -600%,
      400% 41.5692194px;
  }
  to {
    background-position: var(--p), 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* Login formasi */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.login-form {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 10px;
}

.login-form input,
.login-form select,
.login-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.login-form button {
  background: #ff5722;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  background: #e64a19;
}
